@use "../../utils/utils.scss" as *;

.open-tab-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-color: $backgroundColor;
  color: $headerTextColor;
  .open-tab {
    border-right: 1px solid $shadowColor;
    width: 10rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    .tab-name {
      max-width: 8rem;
      @include text-overflow-omit();
    }
    &.dirty .tab-name {
      &::before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-right: 6px;
        border-radius: 50%;
        background-color: currentColor;
        opacity: 0.9;
        vertical-align: middle;
      }
    }
    &.not-found-tab {
      .tab-name {
        text-decoration: line-through
      }
    }
    .internal-icon {
      font-size: 12px;
      margin-left: 5px;
    }
    .close-tag {
      cursor: pointer;
      position: relative;
      visibility: hidden;
      font-size: 20px;
      &:hover {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.2);
          border-radius: 5px;
        }
      }
    }
    &:hover {
      .close-tag {
        visibility: visible;
      }
    }
  }
  .active-tab {
    background-color: $boxColor;
  }
}
