@use './utils/utils.scss' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.input {
  // width: 100%;
  // height: 4rem;
  padding: 0 10px;
  outline: none;
  // border-radius: 5px;
  border: 0.5px solid #e7e0e0;
  // margin-bottom: 10px;
  // font-size: 1.5rem;
  position: relative;
  &:focus {
    // border: 1px solid #4cade6;
    // box-shadow: 0 0 2px 2px #62b5ec;
    border-color: #62b5ec;
  }
}
.btn {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.app-container {
  display: flex;
  height: calc(100vh - 26px);
}

.app-loading-container {
  @include flex-center();
  height: 100vh;
  width: 100vw;
}

#container {
  width: calc(100vw - 45px);
  background-color: $backgroundColor;
  .content-area {
    width: 60rem;
    height: fit-content;
  }
  .split-bar {
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.tool-tip {
  .p-tooltip-text {
    font-size: 14px;
  }
}

.p-scrollpanel-content {
  padding: 0;
}
.p-scrollpanel-bar {
  background-color: rgba(#f3f5f6, 0.7);
}

.p-inputtext {
  box-shadow: none;
}

.p-confirm-dialog-message {
  margin: 0;
}
