@import url("@/utils/utils.less");

.git-box {
  border-radius: 5px;
  width: 25rem;
  height: fit-content;
  padding: 0.5rem;
  background-color: @backgroundColor;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: @shadow;
  cursor: default;
  .op-box {
    width: fit-content;
    height: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .git-btn {
      min-width: 2.5rem;
      height: 2rem;
      padding: 0.3rem;
      font-weight: bold;
      font-size: 14px;
      margin-right: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(208, 203, 203);
      &:hover {
        background-color: #fff;
      }
      &:disabled {
        background-color: rgb(208, 203, 203);
        opacity: 0.7;
      }
    }
  }
  .space-box {
    width: 100%;
    .clean-space{
      width: 100%;
      text-align: center;
    }
    .space-header {
      width: 100%;
      height: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: @boxColor;
      padding: 0.3rem 0.5rem;
      border-radius: 5px;
      font-weight: bold;
      margin: 1rem 0 0.3rem 0;
      .hover-show-icon-box();
      .op-icon-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          margin: 0 0.1rem;
        }
      }
      div {
        max-width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .git-changes {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      max-height: 15rem;
      overflow: auto;
      .change-item {
        width: 95%;
        height: 1.5rem;
        padding: 0.3rem 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        font-weight: normal;
        margin: 0.1rem 0;
      }
      .untracked {
        background-color: rgba(46, 204, 113, 0.7);
        &:hover {
          background-color: rgba(46, 204, 113, 1);
        }
      }
      .added {
        background-color: rgba(26, 188, 156, 0.7);
        &:hover {
          background-color: rgba(26, 188, 156, 1);
        }
      }
      .deleted {
        background-color: rgba(231, 76, 60, 0.7);
        &:hover {
          background-color: rgba(231, 76, 60, 1);
        }
      }
      .modified {
        background-color: rgba(241, 196, 15, 0.7);
        &:hover {
          background-color: rgba(241, 196, 15, 1);
        }
      }
    }
  }
  .hover-show-icon-box {
    &:hover {
      .op-icon {
        display: block;
      }
    }
  }
  .op-icon {
    cursor: pointer;
    position: relative;
    display: none;
    font-size: 20px;
    &:hover {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
      }
    }
  }
}

.commit-msg-box {
  div {
    font-weight: bold;
    margin: 1rem 0 0.5rem 0;
  }
  div:nth-child(1) {
    margin-top: 0;
  }
  .commit-msg-input {
    width: 25rem;
    height: 3rem;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 10px;
    outline: none;
    border: 0.5px solid #e7e0e0;
    position: relative;
    &:focus {
      border-color: #62b5ec;
    }
  }
  textarea {
    min-width: 25rem;
    min-height: 5rem;
    font-family: inherit;
  }
}
