@use "@/utils/utils.scss" as *;

.git-box {
  .no-git-service {
    width: 100%;
    height: 100%;
    @include flex-center();
    i {
      margin-right: 5px;
    }
  }
  border-radius: $borderRadius;
  width: 25rem;
  height: 400px;
  padding: 0.5rem;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: default;
  .git-btn {
    min-width: 2.5rem;
    height: 2rem;
    padding: 0.3rem;
    font-weight: bold;
    font-size: 14px;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 203, 203);
    &:hover {
      background-color: #fff;
    }
    &:disabled {
      background-color: rgb(208, 203, 203, 0.2);
      cursor: wait;
    }
  }
  .push-btn {
    margin-top: 1rem;
  }
  .op-box {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid $hoverBgcColor;
    .icon-wrapper {
      margin-left: 10px;
    }
  }
  .space-box {
    width: 100%;
    .clean-space {
      margin-top: 10px;
      width: 100%;
      @include flex-center();
      flex-direction: column;
      i {
        font-size: 20px;
        margin-bottom: 0.5rem;
      }
    }
    .space-header {
      width: 100%;
      height: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $boxColor;
      padding: 0.3rem 0.5rem;
      border-radius: 5px;
      font-weight: bold;
      margin: 1rem 0 0.3rem 0;
      .op-icon-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          margin: 0 0.1rem;
        }
      }
      .item-title {
        max-width: 80%;
        @include text-overflow-omit();
      }
    }
    .git-changes {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      max-height: 15rem;
      overflow: auto;
      .change-item {
        width: 95%;
        height: 1.5rem;
        padding: 0.3rem 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        font-weight: normal;
        margin: 0.1rem 0;
      }
      .untracked {
        background-color: rgba(46, 204, 113, 0.7);
        &:hover {
          background-color: rgba(46, 204, 113, 1);
        }
      }
      .added {
        background-color: rgba(26, 188, 156, 0.7);
        &:hover {
          background-color: rgba(26, 188, 156, 1);
        }
      }
      .rename {
        background-color: rgba(255, 255, 255, 0.7);
        &:hover {
          background-color: rgba(255, 255, 255, 1);
        }
      }
      .deleted {
        background-color: rgba(231, 76, 60, 0.7);
        div:nth-child(1) {
          text-decoration: line-through;
        }
        &:hover {
          background-color: rgba(231, 76, 60, 1);
        }
      }
      .modified {
        background-color: rgba(241, 196, 15, 0.7);
        &:hover {
          background-color: rgba(241, 196, 15, 1);
        }
      }
    }
  }
  .op-icon {
    cursor: pointer;
    position: relative;
    &:hover {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 2;
        border-radius: $borderRadius;
      }
    }
  }
}

.commit-msg-box {
  div {
    font-weight: bold;
    margin: 1rem 0 0.5rem 0;
  }
  div:nth-child(1) {
    margin-top: 0;
  }
  .commit-msg-input {
    width: 25rem;
    height: 3rem;
    font-size: 16px;
    border-radius: 5px;
  }
  .p-inputtextarea {
    min-height: 200px;
  }
}
