@use '../../utils/utils.scss' as *;
@use '../DocMirror/DocMirror.scss' as DocMirror;
@use './plugins/plugin-iframe/index.scss';
@use './plugins/plugin-heading/heading.scss';

.editor-box {
  overflow: hidden;
  min-width: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  @include shadow-box;

  &.narrow {
    .milkdown {
      .editor {
        max-width: 56rem;
        margin: 0 auto;
      }
    }
  }

  .p-scrollpanel-content {
    height: $editorHeight;
  }

  .milkdown {
    height: $editorHeight;
    transition: $transition;
    font-family: 'Rubik', Calibri, Arial, sans-serif;
    .editor {
      max-width: 95%;
      margin: 0 auto;
      padding: 1rem 3rem;
      blockquote {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      p {
        font-size: 16px;
      }
      .image-container {
        img {
          width: auto;
          max-height: 35rem;
          object-fit: cover;
        }
      }
      .milkdown-code-block {
        position: relative;
        @include DocMirror.code-mirror-style;
        border-radius: $borderRadius;
        margin: 10px 0;
      }
      .milkdown-image-block {
        border-radius: $borderRadius;
        img {
          border-radius: $borderRadius;
        }
      }
    }
  }
}
