@use '../../utils/utils.scss' as *;
@use '../DocMirror/DocMirror.scss' as DocMirror;
@use './plugins/plugin-iframe/index.scss';
@use './plugins/plugin-heading/heading.scss';
@use './plugins/plugin-container';

.editor-box {
  overflow: hidden;
  min-width: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  border-right: 1px solid $shadowColor;
  &.narrow {
    .milkdown {
      .editor {
        max-width: 56rem;
        margin: 0 auto;
      }
    }
  }

  .p-scrollpanel-content {
    height: $editorHeight;
  }

  .milkdown {
    height: $editorHeight;
    transition: $transition;
    .ProseMirror {
      code {
        padding: .1em .4em;
        border-radius: 6px;
        font-size: 80%;
        line-height: 1.5;
        font-family: var(--code-font-family);
      }
    }
    .editor {
      max-width: 95%;
      margin: 0 auto;
      padding: 1rem 3rem;
      blockquote {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      p {
        font-size: 16px;
        margin: 1rem 0;
        padding: 0;
        strong {
          font-weight: 500;
        }
      }
      .image-container {
        img {
          width: auto;
          max-height: 35rem;
          object-fit: cover;
        }
      }
      .milkdown-code-block {
        position: relative;
        @include DocMirror.code-mirror-style;
        border-radius: $borderRadius;
        margin-top: 0;
        margin-bottom: 1rem;
      }
      .milkdown-image-block {
        border-radius: $borderRadius;
        img {
          border-radius: $borderRadius;
        }
      }
      blockquote {
        padding: 0 1em;
        margin-top: 0;
        margin-bottom: 1rem;
        &::before {
          height: 100%;
          top: 50%;
          transform: translateY(-50%);
        }
        p {
          margin: 0;
        }
      }
      ul, ol {
        margin-bottom: 16px;
      }
      .milkdown-list-item-block {
        & + .milkdown-list-item-block {
          margin-top: .25em;
        }
        .list-item {
          .label-wrapper {
            height: 24px;
            .milkdown-icon.label {
              height: 24px;
              padding: 0;
            }
            // avoid checked type list style overwrite
            .milkdown-icon.label.readonly {
              &.bullet, &.ordered {
                cursor: unset;
              }
            }
          }
          .children p {
            margin: 0;
          }
        }
      }
      .milkdown-code-block {
        p {
          font-size: unset;
          margin-bottom: unset;
          line-height: unset;
        }
      }
    }
  }
}
