@use "@/utils/utils.scss" as *;

.outline-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.outline-container {
  height: calc(100vh - 45px - 54px - 26px);
  border-top: 1px solid $shadowColor;
  padding: 0.5rem;
  .outlint-tool-bar {
    @include flex-center();
    justify-content: flex-start;
    padding: 0.5rem 0;
    border-bottom: 1px solid $shadowColor;
  }
  .p-scrollpanel-content {
    height: 100%;
  }
  .simple-tree-node {
    .children {
      border-left: 1px solid $shadowColor;
    }
  }
  .outline-title {
    @include flex-center();
    .p-tag {
      font-size: 12px;
      font-weight: normal;
      width: 20px;
      height: 20px;
      margin-left: 5px;
      border-radius: $borderRadius;
      background: $shallowTextColor;
    }
  }
}
