@use "@/utils/utils.scss" as *;

$toolBarHeight: 32px;
$outlineHeight: calc($editorHeight - $toolBarHeight - 0.5rem);

.outline-wrapper {
  width: 100%;
  height: $outlineHeight;
  overflow: hidden;
}

.outline-container {
  height: $editorHeight;
  overflow: hidden;
  border-top: 1px solid $shadowColor;
  padding: 0.5rem;
  .outlint-tool-bar {
    height: 32px;
    @include flex-center();
    justify-content: flex-start;
    padding: 0 0 0.5rem 0;
    border-bottom: 1px solid $shadowColor;
  }
  .p-scrollpanel-content {
    height: $outlineHeight;
    overflow-x: hidden;
  }
  .simple-tree-node {
    .children {
      border-left: 1px solid $shadowColor;
    }
  }
  .outline-title {
    @include flex-center();
    .p-tag {
      font-size: 12px;
      font-weight: normal;
      width: 20px;
      height: 20px;
      margin-left: 5px;
      border-radius: $borderRadius;
      background: $shallowTextColor;
    }
  }
}
