@use "@/utils/utils.scss" as *;

.outline-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.tree-node {
  &-title {
    height: 32px;
    cursor: pointer;
    @include flex-center();
    justify-content: flex-start;
    color: var(--headerTextColor);
    &:hover {
      color: var(--contentTextColor);
    }
    .pi {
      margin-left: 0.5rem;
      cursor: pointer;
    }
  }
  .children {
    padding-left: 1rem;
  }
}

.outline-container {
  height: calc(100vh - 45px - 54px - 26px);
  border-top: 1px solid $shadowColor;
  padding: 0.5rem;
  .p-scrollpanel-content {
    height: 100%;
  }
  // padding: 0.5rem;
  // border-radius: $borderRadius;
  // .keywords-tags {
  //   max-width: 25rem;
  //   max-height: 8rem;
  //   display: flex;
  //   justify-content: flex-start;
  //   flex-wrap: wrap;
  //   overflow: auto;
  //   padding-right: 0.5rem;
  //   .keyword-anchor {
  //     padding: 0.5rem;
  //     margin: 0.3rem;
  //     background-color: #fff;
  //     font-size: 12px;
  //     font-weight: bold;
  //     border-radius: 5px;
  //     cursor: pointer;
  //     transform: scale(1);
  //     transition: $transition;
  //     color: black;
  //     &:hover {
  //       transform: scale(1.1);
  //     }
  //   }
  // }
  // .heading-anchors {
  //   width: 100%;
  //   max-height: 26rem;
  //   overflow: auto;
  //   padding-right: 0.5rem;
  //   .outline-title {
  //     min-width: 30rem;
  //     background-color: #fff;
  //     padding: 0.5rem;
  //     margin: 0.3rem 0;
  //     border-radius: 5px;
  //     cursor: pointer;
  //     opacity: 0.7;
  //     &:hover {
  //       opacity: 1;
  //     }
  //   }
  // }
}
