@use '../../utils/utils.scss' as *;

.editor-container {
  transition: $transition;
  flex: 1;
  height: calc(100vh - $footerHeight);
  width: 100%;
  overflow: hidden;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  .pure-page {
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
  }
  .header-container {
    height: $headerHeight;
  }
  .doc-area {
    background-color: $backgroundColor;
    height: $editorHeight;
    width: 100%;
  }
  .open-tab-container {
    height: $tabHeight;
  }
}
