@use '../../utils/utils.scss' as *;

.editor-container {
  transition: $transition;
  flex: 1;
  height: 100%;
  width: 100%;
  // max-width: 100vw;
  overflow: hidden;
  z-index: 1000;
  display: grid;
  grid-template-rows: 54px 45px 1fr;
  grid-template-columns: 96% 4%;
  .pure-page {
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
  }
  .header-container {
    grid-area: 1/1/2/3;
  }
  .doc-area {
    background-color: $backgroundColor;
    grid-area: 3/1/4/3;
    width: 100%;
  }
  .open-tab-container {
    grid-area: 2/1/3/3;
  }
}
