@import url('../../utils/utils.less');

.editor-container {
  display: flex;
  justify-content: center;
  //   align-items: center;
  flex: auto;
  overflow: auto;
  max-height: 100vh;
  position: relative;
}
