@use '@/utils/utils.scss' as *;

.menu-container {
  padding-left: 0.3rem;
  height: 100vh;
  font-size: 20px;
  @include flex-center();
  .error-container {
    color: var(--shallowTextColor);
  }

  .item-container {
    color: $contentTextColor;
    .link {
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      color: $contentTextColor;
    }
    .item {
      border-radius: $borderRadius;
      cursor: pointer;
      padding: 6px 12px;
      padding-left: 0.5rem;
      @include flex-center();
      justify-content: flex-start;
      &-arrow {
        @include flex-center();
        margin-right: 0.5rem;
        i {
          transition: $transition;
        }
      }
      &-title {
        @include flex-center();
        i {
          margin-right: 0.3rem;
        }
      }
      &:hover {
        background-color: $boxColor;
      }
    }
    .children-container {
      padding-left: 0.5rem;
    }
  }
}