@use '@/utils/utils.scss' as *;

.menu-container {
  padding-left: 0.3rem;
  height: 100vh;
  font-size: 20px;
  @include flex-center();
  .error-container {
    color: var(--shallowTextColor);
  }

  .shortcut-bar {
    position: sticky;
    z-index: 1000;
    background-color: $backgroundColor;
    top: 0;
    font-size: 14px;
    width: 100%;
    height: fit-content;
    padding: 5px;
    padding-top: 17px;
    @include flex-center();
    justify-content: flex-end;
    .pi {
      cursor: pointer;
      padding: 3px;
    }
  }

  .item-container {
    color: $contentTextColor;
    .link {
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      color: $contentTextColor;
    }
    .item {
      border-radius: $borderRadius;
      cursor: pointer;
      padding: 6px 12px;
      padding-left: 0.5rem;
      @include flex-center();
      justify-content: flex-start;
      &.selected {
        background-color: var(--selectedBgcColor);
      }
      &-arrow {
        @include flex-center();
        margin-right: 0.5rem;
        i {
          transition: $transition;
        }
      }
      &-title {
        @include flex-center();
        i {
          margin-right: 0.5rem;
        }
      }
      &:hover {
        background-color: var(--hoverBgcColor);
      }
    }
    .children-container {
      padding-left: 0.5rem;
    }
  }
}