@use '@/utils/utils.scss' as *;
@use "sass:color";

.menu-container {
  border-right: 1px solid $shadowColor;
  height: 100vh;
  font-size: 20px;
  @include flex-center();
  .menu-wrapper {
    width: 100%;
    height: calc(100vh - 54px);
    .p-scrollpanel-content {
      padding-bottom: 20px;
    }
  }
  .error-container {
    color: $shallowTextColor;
  }

  .shortcut-bar {
    position: sticky;
    z-index: 1000;
    background-color: $backgroundColor;
    border-bottom: 1px solid $shadowColor;
    top: 0;
    font-size: 14px;
    width: 100%;
    height: 54px;
    padding: 5px;
    padding-right: 10px;
    @include flex-center();
    justify-content: flex-end;
    .icon-wrapper {
      margin-left: 0.8rem;
    }
  }

  .item-container {
    color: $contentTextColor;
    .link {
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      color: $contentTextColor;
      i {
        margin-right: 0.5rem;
        color: $shallowTextColor;
      }
    }
    .item-wrapper {
      border: 1px solid transparent;
      &.focused {
        border: 1px solid $selectedBgcColor;
      }
      &.selected {
        background-color: $selectedBgcColor;
      }
      &:hover {
        background-color: $hoverBgcColor;
      }
    }
    .item {
      border-radius: $borderRadius;
      cursor: pointer;
      padding: 6px 12px;
      padding-left: 0.5rem;
      @include flex-center();
      justify-content: flex-start;
      &-arrow {
        @include flex-center();
        margin-right: 0.5rem;
        i {
          transition: $transition;
        }
      }
    }
    .menu-item-input {
      outline: none;
      height: 25px;
      width: 100%;
      padding: 5px;
      font-size: 12px;
      margin-right: 0.5rem;
    }

    .operation-item {
      cursor: default;
      background-color: $hoverBgcColor;
      .input-confirm {
        cursor: pointer;
        color: $selectedBgcColor;
        &:hover {
          color: $shallowTextColor;
        }
      }
    }
  }

  .drag-between-line {
    position: absolute;
    right: 0;
    height: 4px;
    background-color: $hoverBgcColor;
  }
  
  .rct-tree-items-container {
    padding: 0;
  }
}