@use "../../utils/utils.scss" as *;

.operation-menu {
  position: absolute;
  z-index: 2000;
  width: 10rem;
  height: fit-content;
  background-color: #fff;
  border: #e6e6e6 solid 1px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include shadow-box();
  .operations {
    width: 100%;
    padding: 0.5rem;
    text-align: start;
    border-bottom: #e6e6e6 solid 1px;
    font-weight: bold;
    color: gray;
    cursor: pointer;
    &:hover {
      background-color: rgb(230, 221, 221);
    }
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 18%;
  height: 100vh;
  padding: 0.5rem 0rem 1rem 0rem;
  transition: $transition;
  .refresh-btn {
    margin: 0 1rem 0.3rem 0;
    align-self: flex-end;
    cursor: pointer;
    color: $headerTextColor;
    transition: $transition;
    &:hover {
      transform: scale(1.1);
    }
  }
  .fetching {
    animation: loading 0.5s infinite linear;
  }
  .menu-wrapper {
    flex: 1;
    overflow-y: scroll;
    padding: 0 0.3rem 0 0.5rem;
    .menu-box {
      width: 100%;
      height: fit-content;
    }
  }

  .link {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: $contentTextColor;
  }
  .subject {
    width: 100%;
    height: fit-content;
    cursor: pointer;
    position: relative;
    .subject-title {
      width: 100%;
      height: 2.5rem;
      line-height: 2.5rem;
      font-weight: bold;
      padding-left: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.4s ease-in-out;
      background-color: $boxColor;
      color: $headerTextColor;
      // position: relative;
      .expand-icon {
        transition: $transition;
      }
    }
    .sub-children {
      margin: 3px 0;
      width: 100%;
      padding-left: 0.5rem;
      transition: $transition;
      transform-origin: 0 0;
    }
  }
  .file {
    width: 100%;
    height: 2rem;
    padding: 0 0.5rem;
    line-height: 2rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    &:hover {
      &:after {
        content: "";
        display: block;
        width: inherit;
        height: inherit;
        position: absolute;
        left: 0;
        top: 0;
        background: rgb(152, 149, 149);
        opacity: 0.3;
      }
    }
    .show-outline-icon {
      z-index: 1000;
      opacity: 0.5;
      color: $headerTextColor;
      &:hover {
        opacity: 1;
      }
    }
  }
}
