@use '@/utils/utils.scss' as *;

.menu-container {
  border-right: 1px solid var(--shadowColor);
  height: 100vh;
  font-size: 20px;
  @include flex-center();
  .error-container {
    color: var(--shallowTextColor);
  }

  .shortcut-bar {
    position: sticky;
    z-index: 1000;
    background-color: $backgroundColor;
    border-bottom: 1px solid var(--shadowColor);
    top: 0;
    font-size: 14px;
    width: 100%;
    height: 54px;
    padding: 5px;
    @include flex-center();
    justify-content: flex-end;
    .icon-wrapper {
      margin-left: 0.8rem;
    }
  }

  .item-container {
    color: $contentTextColor;
    .link {
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      color: $contentTextColor;
      i {
        margin-right: 0.5rem;
        color: var(--shallowTextColor);
      }
    }
    .item-wrapper {
      // border-radius: $borderRadius;
      border: 1px solid transparent;
      &.focused {
        border: 1px solid var(--selectedBgcColor);
      }
      &.selected {
        background-color: var(--selectedBgcColor);
      }
      &:hover {
        background-color: var(--hoverBgcColor);
      }
    }
    .item {
      border-radius: $borderRadius;
      cursor: pointer;
      padding: 6px 12px;
      padding-left: 0.5rem;
      @include flex-center();
      justify-content: flex-start;
      &-arrow {
        @include flex-center();
        margin-right: 0.5rem;
        i {
          transition: $transition;
        }
      }
    }
    .menu-item-input {
      outline: none;
      height: 25px;
      width: 100%;
      padding: 5px;
      font-size: 12px;
      margin-right: 0.5rem;
    }

    .operation-item {
      cursor: default;
      background-color: var(--hoverBgcColor);
      .input-confirm {
        cursor: pointer;
        color: var(--selectedBgcColor);
        &:hover {
          color: var(--shallowTextColor);
        }
      }
    }
  }
  
  .rct-tree-items-container {
    padding: 0;
  }
}