@use "@/utils/utils.scss" as *;

.img-search-box {
  $width: 20rem;
  $height: 2rem;
  margin: 0 1rem;
  height: $height;
  position: relative;
  .search-input {
    width: $width;
    height: 100%;
    line-height: $height;
    font-size: 16px;
    border-radius: 15px;
  }
  .result-wrapper {
    position: absolute;
    left: 0;
    top: $height + 0.5rem;
    background-color: #e6e6e6;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: bold;
    box-shadow: $shadow;
    .result-info {
      margin-bottom: 1rem;
    }
  }
  .search-results-box {
    min-width: $width + 15rem;
    max-height: $width + 15rem;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .result-item {
      width: 100%;
      height: fit-content;
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      @mixin info-btn-common {
        display: inline-block;
        background-color: #60b6ef;
        border-radius: 5px;
        padding: 0.3rem;
        font-weight: bold;
        &:hover {
          background-color: #3aa1e5;
        }
      }
      .img-info {
        // width: 20rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-right: 1rem;
        .img-info-item {
          margin: 0.5rem 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: $width + 15rem;
          font-weight: lighter;
          cursor: pointer;
          position: relative;
          .info-label {
            @include info-btn-common();
            margin-right: 0.5rem;
          }
        }
        .rename-btn {
          @include info-btn-common();
          margin-left: 1rem;
        }
      }
      .img-store-img {
        width: 6rem;
        height: 6rem;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
        transition: $transition;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.upload-img-rename-input {
  width: 30rem;
  margin: 0.5rem 2rem 1rem 2rem;
  display: block;
  padding: 0.5rem;
  outline: none;
  border-radius: 5px;
  border: 0.5px solid #e7e0e0;
  position: relative;
  &:focus {
    border-color: #62b5ec;
  }
}
