@use '@/utils/utils.scss' as *;

.settings-container {
  width: 600px;
  height: 500px;
  .setting-item {
    padding-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid $shadowColor;
  }
  .setting-label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .workspace-display {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .p-chips {
    width: 600px;
    .p-chips-multiple-container {
      padding: 5px 10px;
    }
    .p-chips-token {
      font-size: 14px;
      padding: 5px 10px;
    }
  }
  .git-service-status {
    margin-top: 10px;
    .no-git-service, .git-service-status-active {
      @include flex-center();
      i {
        margin-right: 5px;
        color: red;
        &.warn {
          color: rgb(231, 231, 32);
        }
      }
      justify-content: flex-start;
    }
    .git-service-status-active {
      i {
        color: green;
      }
      &-text {
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        &:hover {
          color: $anchorColor;
        }
      }
    }
  }
}
