.shadow-box {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}
.global-background-color {
  background-color: #95a5a6;
}

@backgroundColor: var(--backgroundColor, #95a5a6);
@boxColor: var(--boxColor, #7f8c8d);
@headerTextColor: var(--headerTextColor, black);
@contentTextColor: var(--contentTextColor, #e6e6e6);

.btn(@width, @height, @color, @hover-color) {
  width: @width;
  height: @height;
  padding: 10px;
  background-color: @color;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: 0;
  &:hover {
    background-color: @hover-color;
  }
  &:focus {
    outline: none;
  }
}
