@use '../styles/variables' as *;

.icon-wrapper {
  @include flex-center();
  .icon {
    cursor: pointer;
    @include flex-center();
    &.disabled { cursor: not-allowed; opacity: .5; }
  }
  .icon-com {
    display: inline-block;
    svg { width: 100%; height: 100%; }
  }
}

.icon-tool-tip {
  .p-tooltip-text { padding: 5px; font-size: 12px; }
}
