.search-box {
  @width: 20rem;
  @height: 2rem;
  margin: 0 1rem;
  height: @height;
  position: relative;
  .search-input {
    width: @width;
    height: 100%;
    line-height: @height;
    font-size: 16px;
    border-radius: 15px;
  }
  .search-results-box {
    min-width: @width + 15rem;
    max-height: @width + 15rem;
    overflow: auto;
    position: absolute;
    left: 0;
    top: @height + 0.5rem;
    background-color: #e6e6e6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5rem;
    font-weight: bold;
    .result-item {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      border-bottom: 1px solid rgb(153, 151, 151);
      position: relative;
      color: black;
      .path-show {
        width: fit-content;
        height: fit-content;
        background-color: #60b6ef;
        padding: 0.3rem;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: #3aa1e5;
        }
      }
      .keyword-show {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 1rem;
        .keyword-item {
          padding: 0.5rem;
          margin-right: 0.3rem;
          background-color: #fff;
          font-size: 12px;
          font-weight: bold;
          border-radius: 5px;
          cursor: pointer;
          color: black;
          &:hover {
            background-color: #c5bbbb;
          }
        }
      }
      .heading-show {
        width: 100%;
        padding: 0.3rem 0;
        border-radius: 5px;
        background-color: #e6e6e6;
        margin-top: 0.3rem;
        .heading-item {
          width: 100%;
          cursor: pointer;
          background-color: #fff;
          margin: 0.3rem 0;
          padding: 0.3rem;
          border-radius: 5px;
          &:hover {
            background-color: #c5bbbb;
          }
        }
      }
    }
  }
}
