@use "@/utils/utils.scss" as *;

.code-mirror-container {
  overflow: auto;
  height: 100%;
  // border-radius: 15px;
  .cm-editor {
    transition: $transition;
    height: 90vh;
    overflow-x: hidden;
    // border-radius: 15px;
    .cm-gutters {
      transition: $transition;
    }
    .cm-activeLine {
      transition: $transition;
    }
    .cm-activeLineGutter {
      transition: $transition;
    }
    .cm-content {
      transition: $transition;
      font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    }
  }
}
