@use "@/utils/utils.scss" as *;

@mixin code-mirror-style {
  .cm-editor {
    transition: $transition;
    overflow-x: hidden;
    // border-radius: 15px;
    .cm-gutters {
      transition: $transition;
    }
    .cm-activeLine {
      transition: $transition;
    }
    .cm-activeLineGutter {
      transition: $transition;
    }
    .cm-content {
      transition: $transition;
      font-family: 'Rubik', Calibri, Arial, sans-serif;
    }
  }
}

.code-mirror-container {
  overflow: auto;
  height: 100%;
  @include code-mirror-style;
  .cm-editor {
    height: 90vh;
  }
}
