.code-mirror-container {
  padding: 0 1rem;
  //   flex: 1;
  width: 50%;
  transition: all 0.4s ease-in-out;
  .cm-editor {
    // border-radius: 15px;
    min-height: 90vh;
    overflow-x: hidden;
  }
}
