.code-mirror-container {
  overflow: auto;
  height: 93vh;
  border-radius: 15px;
  .cm-editor {
    transition: all 0.4s ease-in-out;
    height: 93vh;
    overflow-x: hidden;
    border-radius: 15px;
    .cm-gutters {
      transition: all 0.4s ease-in-out;
    }
    .cm-activeLine {
      transition: all 0.4s ease-in-out;
    }
    .cm-activeLineGutter {
      transition: all 0.4s ease-in-out;
    }
    .cm-content {
      transition: all 0.4s ease-in-out;
      font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    }
  }
}
