.dark {
  --backgroundColor: #252932;
  --boxColor: #2E3440;
  --headerTextColor: #D3D7DC;
  --contentTextColor: #e9ebee;
  --blockquoteColor: #2E3440;
  --shadowColor: rgba(178, 178, 183, 0.12);
  --hoverBgcColor: #65676a;
  --selectedBgcColor: #959799;
  --buttonBgcColor: oklch(37.3% .034 259.733);
  --buttonHoverBgcColor: oklch(30.3% .034 259.733);
  --anchorColor: #506cc9;
  --hoverBorderColor: #3b82f6;
  --panelBorderColor: rgba(225, 226, 232, .2);
  --panelBackgroundColor: rgba(46, 52, 64, 0.92);
  --gridLineColor: rgba(225, 226, 232, .08);
  --frameShadow: 0 8px 20px rgba(0, 0, 0, .24);
  --editorCanvasColor: rgba(46, 52, 64, 0.96);
  --searchHighlightColorStrong: rgba(127, 179, 255, 0.28);
  --searchHighlightColorSoft: rgba(127, 179, 255, 0.18);

  .milkdown {
    --crepe-color-background: #252932;
    --crepe-color-on-background: #f8f9ff;
    --crepe-color-surface: #22262b;
    --crepe-color-surface-low: #3c4044;
    --crepe-color-on-surface: #e1e2e8;
    --crepe-color-on-surface-variant: #c3c6cf;
    --crepe-color-outline: #8d9199;
    --crepe-color-primary: #a1c9fd;
    --crepe-color-secondary: #3c4858;
    --crepe-color-on-secondary: #d7e3f8;
    --crepe-color-inverse: #e1e2e8;
    --crepe-color-on-inverse: #2e3135;
    --crepe-color-inline-code: #ffb4ab;
    --crepe-color-error: #ffb4ab;
    --crepe-color-hover: #1d2024;
    --crepe-color-selected: #65676a;
    --crepe-color-inline-area: #727a8433;

    --crepe-shadow-1:
      0px 1px 2px 0px rgba(255, 255, 255, 0.3),
      0px 1px 3px 1px rgba(255, 255, 255, 0.15);
    --crepe-shadow-2:
      0px 1px 2px 0px rgba(255, 255, 255, 0.3),
      0px 2px 6px 2px rgba(255, 255, 255, 0.15);
  }
}