@use '../../utils/utils.scss' as utils;
@use '../../components/Outline/Outline.scss' as outline;

@mixin hover-box {
  position: relative;
  .box {
    position: absolute;
    right: 130%;
    bottom: 50%;
    transition: utils.$transition;
    transform: scale(0, 0);
    transform-origin: right bottom;
    cursor: default;
  }
  &:hover {
    .box {
      transform: scale(1);
    }
  }
}

.side-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: utils.$headerTextColor;
  .operation-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    &:hover {
      background-color: utils.$boxColor;
    }
  }
  .go-to-top {
    margin-bottom: 1.5rem;
    visibility: visible;
    transition: utils.$transition;
    transition-duration: 0.3s;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
  }
  .side-outline {
    margin-bottom: 1.5rem;
    @include hover-box();
  }
  .side-git {
    margin-bottom: 1.5rem;
    @include hover-box();
    // .box {
    //   transform: scale(1, 1);
    // }
  }
  .config-box {
    margin-bottom: 10rem;
    @include hover-box();
    // .box {
    //   transform: scale(1);
    // }
  }
}
